@page "/logout"
@inject CustomStateProvider authStateProvider
@inject NavigationManager nav
@inject IConfiguration cfg

<h3>Logging Out...</h3>
@code {
    protected override async Task OnInitializedAsync()
    {
        await authStateProvider.Logout();
        Utility.NavigateToPath(nav, cfg, "/");
    }

}
