@page "/logout"
@inject CustomStateProvider authStateProvider
@inject NavigationManager navigationManager

<h3>Logging Out...</h3>
@code {
    protected override async Task OnInitializedAsync()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("");
    }

}
