@page "/fund/list"
@attribute [Authorize]
@inject HttpClient Http
@inject IAuthService auth
@inject NavigationManager nav
@inject IConfiguration cfg

<h1>Fund List</h1>

@if (funds == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p><a href="/fund">Create new fund</a></p>
    if (funds.Length > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fund in funds)
                {
                    <tr>
                        <td><a href="/fund/@fund.id">@fund.name &nbsp;<span class="oi oi-pencil"></span></a></td>
                        <td>@fund.comment</td>
                        <td><button @onclick="@(() => DeleteFund(fund.id))" class="btn-delete"><span class="oi oi-trash"></span></button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


@code {
    private BlazingPennies.Shared.Models.Fund[] funds;

    protected async Task Refresh()
    {
        // Show loading spinner while data is being fetched
        funds = null;
        StateHasChanged();

        string user_id = await auth.CurrentUserId();
        string url = Utility.BackendUrl(cfg, "fund/list.php", new { user_id = user_id });
        funds = await Http.GetFromJsonAsync<BlazingPennies.Shared.Models.Fund[]>(url);
        funds ??= new BlazingPennies.Shared.Models.Fund[0];

        // Update UI after data is fetched
        await InvokeAsync(StateHasChanged);

    }

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
    }

    private async Task DeleteFund(string id)
    {
        Utility.NavigateToPath(nav, cfg, $"/fund/deleteconfirm/{System.Web.HttpUtility.UrlEncode(id)}", true);
    }
}
