@page "/"
@attribute [Authorize]
<PageTitle>Index</PageTitle>

<h1>Hello,  @currentUser.FIRST_NAME @currentUser.LAST_NAME!</h1>
<div>Your id is @currentUser.Id</div>
@code {

    [Inject]
    private IAuthService auth { get; set; }

    private CurrentUser currentUser;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await auth.CurrentUserInfo();
    }
}
<br />
<br />
https://stackoverflow.com/questions/66342112/blazor-validation-of-list-of-child-components
<br />
<br />
https://www.youtube.com/watch?v=zfqQ_fhmPOQ
<br />
<br />
https://learn.microsoft.com/en-us/aspnet/core/blazor/forms-and-input-components?view=aspnetcore-7.0