@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<br />
<br />
https://stackoverflow.com/questions/66342112/blazor-validation-of-list-of-child-components
<br />
<br />
https://www.youtube.com/watch?v=zfqQ_fhmPOQ
<br />
<br />
https://learn.microsoft.com/en-us/aspnet/core/blazor/forms-and-input-components?view=aspnetcore-7.0