<div class="container">
    <header>
        <a href="">BlazingPennies</a>
        <button title="Navigation menu" @onclick="ToggleNavMenu">
            <span class="oi oi-menu" aria-hidden="true"></span>
        </button>
    </header>
    <aside>
        <nav class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul>
                <li>
                    <NavLink href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="auth/ImportExport" Match="NavLinkMatch.All">
                        <span class="oi" data-glyph="cloud-download" aria-hidden="true"></span> Backups
                    </NavLink>
                </li>
                <li>
                    <NavLink href="account/list">
                        <span class="oi credit-card" aria-hidden="true"></span> Accounts
                    </NavLink>
                </li>
                <li>
                    <NavLink href="fund/list">
                        <span class="oi envelope-open" aria-hidden="true"></span> Funds
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/transactions/pickaccount">
                        <span class="oi oi-transfer" aria-hidden="true"></span> Transactions
                    </NavLink>
                </li>
            </ul>
        </nav>
    </aside>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}